@model App.Models.HomepageModel;
@{
    ViewData["Title"] = $"{Model.Site.Title} - Homepage";
}

<div class="content">
    <h1>@Model.Site.Title</h1>
    @foreach (var item in Model.Posts) {
        <div class="post">
            <h2>@Html.DisplayFor(_ => item.Title)</h2>
            <p>@Html.DisplayFor(_ => item.Body)</p>
        </div>
        <div class="logline">
            Posted by <a href="#">@Html.DisplayFor(_ => item.PostedBy.UserName)</a> on @Html.DisplayFor(_ => item.PostedOn)
        </div>
        <hr />
}
</div>

<div>
    @if(Model.Posts.HasPreviousPage) {
        <a href="#">&lt; Prev Page</a>
    }

    @if(Model.Posts.HasNextPage) {
        <a href="#">Next Page &gt;</a>
    }
</div>
