@model App.Models.PostpageModel;
@using Westwind.AspNetCore.Markdown
@{
    ViewData["Title"] = $"Post";
}

<div class="content">
    <article>
        <h2>@Html.DisplayFor(m => m.Post.Title)</h2>
        <h3>@Html.DisplayFor(m => m.Post.PostedOn)</h3>
        <div class="postBody">
            @Html.Raw(Markdown.Parse(Model.Post.Body))
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Post.MoreInside))
        {
            <hr>
            <div class="moreInside">
                @Html.Raw(Markdown.Parse(Model.Post.MoreInside))
            </div>
        }
        <div class="logline">
            Posted by <a href="#">@Html.DisplayFor(m => m.Post.PostedBy.UserName)</a>
            (@Model.Post.Comments.Count comments total)
        </div>
    </article>

    <div id="comments">
        @foreach (var comment in Model.Post.Comments)
        {
            <div class="comment" id="@comment.ID">
                @Html.Raw(Markdown.Parse(comment.Body))
                <div class="logline">
                    Posted by <a href="#">@Html.DisplayFor(_ => comment.PostedBy.UserName)</a>
                    on @Html.DisplayFor(_ => comment.PostedOn)
                </div>
            </div>
        }
    </div>

</div>